@model IEnumerable<ContactModel>

<link rel="stylesheet" href="~/css/Feedback.css" asp-append-version="true" />
<div class="container">
<table class="table table-bordered table-striped" style="width:auto">
	<thead>
		<tr>
			<th>
				User Name
			</th>
			<th>
				Email
			</th>
			<th>
				Subject
			</th>
			<th>
				Message
			</th>
			<th>
				Action
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@(item.Username)</td>
				<td>@(item.Email)</td>
				<td>@(item.Subject)</td>
				<td>@(item.Message)</td>
				<td>
					<form method="post" asp-action="Delete" asp-controller="Web" asp-route-id="@item.Id">
						<button type="submit" >Delete User</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
</div>

